body{
    height: 200vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("./images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: #494F55;
}

a:hover{
    color: #008080;
}

.header{

    display: flex;
    font-family: 'Roboto';
    font-weight: bold;
    color: #494F55;
    font-size: 24px;

    justify-content: space-around;
    align-items: center;

}

.header-links{
    display: flex;
    gap: 25px;
}

.logo{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.product{
    background-image: url("./images/product.jpg");
    height:fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-text-container{
    height: 600px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color:#494F55;
}

.hero-sec-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    color: #413839;
}

.hero-tert-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    color: #413839;
    margin-top: 250px;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

.shop-button, .learn-more-button{
    border: none;
    font-size: 18px;;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    background-color: #bfc0c0;
    color: white;
}

.shop-button:hover{
    background-color: #a7c489;
    color: white;  
}

.shop-button:active {
    background-color: #014421;
}

.learn-more-button:hover{
    background-color: #a7c489;
    color: white;  
}

.learn-more-button:active {
    background-color: #014421;
}

.spec-header{

    font-size: 36px;
    font-weight: bolder;
    color: #114B5F;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.spec-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spec-block-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-one, .block-two, .block-three, .block-four{
    border: 4px solid #464e47;
    height: 100px;
    width: 140px;
    border-radius: 12px;
    margin-right: 20px;
}

.block-text-one, .block-text-two, .block-text-three, .block-text-four{
    font-size: 18px;
    display: flex;
    text-align: center;
    width: 160px;
    flex-wrap: wrap;
    margin-right: 10px;
}

.testimonials{
    margin-top: 80px;
    height: 350px;
    background-color: #dbd3d8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.testimonials-text{
    width: 550px;
    font-size: 36px;
    font: italic;
    color: #1F2937;
}

.customer{
    width:550px;
    display: flex;
    justify-content: flex-end;
}

